<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JC'lesson</title>
    {% include 'include/resources.include' %}
    {% block header %}
    {% endblock %}
</head>
<body>
<nav class="nav">
    <div class="center">
        <ul>
            <li><a>jc'demo</a></li>
            <li class="current"><a>主页</a></li>
            <li><a>文章</a></li>
            <li><a>关于</a></li>
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
{#    <footer class="cloud-footer">#}

<script>
    $(document).ready(function () {
        $('.nav ul li').click(function () {
            var first = $('.nav ul li.current');
            first.removeAttr('class', 'current');
            $(this).attr('class', 'current');
            return false;
        });

        var changeHeaderOn = $('nav').height();
        $(window).scroll(function () {
            var scrollY = $(document).scrollTop();
            if (scrollY > changeHeaderOn) {
                $('nav').addClass("navShadow");
            } else {
                $('nav').removeClass("navShadow");
            }
        });
    })
</script>
</body>
</html>