{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="article">
            <div class="page-header">
                <h1>第一篇
                    <small>django静态资源加载</small>
                </h1>
            </div>
            <div class="articleBody">
                <p>
                    在django中，提供了一个方法自动地将所有的静态文件（css，js，图片等）放在一起。
                </p>
            </div>
        </div>
        <div class="articleBottom">
            这里会是发表时间、作者、浏览次数、评论数、分类等
        </div>
    </div>

    <div class="card">
        <div class="article">
            <div class="page-header">
                <h1>第一篇
                    <small>django静态资源加载</small>
                </h1>
            </div>
            <div class="articleBody">
                <p>
                    在django中，提供了一个方法自动地将所有的静态文件（css，js，图片等）放在一起。
                </p>
            </div>
        </div>
        <div class="articleBottom">
            这里会是发表时间、作者、浏览次数、评论数、分类等
        </div>
    </div>

    <div class="card">
        <div class="article">
            <div class="page-header">
                <h1>第一篇
                    <small>django静态资源加载</small>
                </h1>
            </div>
            <div class="articleBody">
                <p>
                    在django中，提供了一个方法自动地将所有的静态文件（css，js，图片等）放在一起。
                </p>
            </div>
        </div>
        <div class="articleBottom">
            <div>

            </div>
            这里会是发表时间、作者、浏览次数、评论数、分类等
        </div>
    </div>
{% endblock %}